<?xml version="1.0" encoding="UTF-8"?>

<module name="Checker">
    <module name="BooleanExpressionComplexity"/>
    <module name="CyclomaticComplexity"/>
    <module name="FileLength"/>
    <module name="LineLength"/>
    <module name="MethodLength"/>
    <module name="EmptyCatchBlock"/>
    <module name="FileTabCharacter"/>
    <module name="AvoidStarImport"/>
    <module name="IllegalImport"/>
    <module name="NeedBraces"/>
    <module name="Header">
        <property name="headerFile" value="header.txt"/>
    </module>
</module>
